/*! Product by Wu Jun Xing */

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, form, input, textarea, p, th, td, span{ margin:0; padding:0;}
body{font-family: Arial,"Microsoft YaHei","微软雅黑","宋体"; font-size:13px; line-height:2; color:#666; background-color:White;}
body{background-image:url(../img/bg.jpg); background-position:left top; background-repeat:repeat-x;}
a{text-decoration:none; color:#666;}
a:hover{ color:#ff9900; }

img {border:0;}
table, img, hr, .mceItemAnchor {cursor:default}
table td, table th {cursor:text}
ins {border-bottom:1px solid green; text-decoration: none; color:green}
del {color:red; text-decoration:line-through}
cite {border-bottom:1px dashed blue}
acronym {border-bottom:1px dotted #CCC; cursor:help}
abbr {border-bottom:1px dashed #CCC; cursor:help}
li {list-style: none outside none;}
table {border-collapse: collapse;border-spacing:0;}

.clear{ clear:both;}
.wdiv{ width:1000px; margin:0px auto;}
.wdiv10{ width:1000px; margin:10px auto;}
.f_left{float:left;}
.f_right{float:right;}
.f_left20{float:left; margin-left:20px;}
.f_left_2{float:left; margin-left:10px;}

.floatad {
    z-index:100; position:absolute;
}
.floatad a{
    display:block; width:252px; height:auto; line-height:0; cursor:pointer;
}
.floatad img{
    display:block; width:252px; height:auto; cursor:pointer;
}
.floattype02{
    position:fixed; left:0px; bottom:0px;
}
.floattype03{
    position:fixed; right:0px; bottom:0px;
}
.closead{
    position:absolute; right:0px; bottom:0px; width:60px; height:20px; background-color:#CCC; color:red;
    text-align:center; border:1px solid #999; line-height:20px; cursor:pointer;
    /* for IE */
    filter:alpha(opacity=60);
    /* CSS3 standard */
    opacity:0.6;
}

.page_head{
    width:1000px; height:120px; margin:0 auto;
}
.page_head .logo{
    float:left; height:100px; padding-top:10px;
}
.page_head .logo img{
    height:100px;
}
.page_head .links{
    float:right; border:1px solid #dedede; border-top:none; background-color:#fff; padding:0 10px;
    border-radius:0px 0px 10px 12px;
}
.page_head .links a,.page_head .links span{
    margin:0 2px; font-size:12px;
}
.page_head .links a{
    color:#9a9a9a;
}
.page_head .links span{
    color:#aaa;
}

.index_banner230{
    width:1000px; height:230px; margin:0 auto;
    box-shadow:0px 1px 5px 0px #4a4a4a;
}
.index_banner230 img{
    width:1000px; height:230px;
}

.page_footer{
    width:1000px; background-color:#2a2a2a; margin:0 auto; padding-bottom:20px; margin-top:30px;
    background-image:url(../img/footer_bg.jpg);
}

.page_footer .footerLink{
    width:167px; height:22px; line-height:22px; background:url(../img/footerlinks.png) no-repeat; float:left; margin-left:50px; margin-top:10px; position:relative; z-index:199; cursor:pointer;
}
.footerLink span{ padding-left:8px;}
.footerLinkCon{ width:143px; padding:12px; background:#fff; border:1px solid #e7e7e7; border-radius:2px; position:absolute; bottom:22px; left:0; display:none; }
.footerLinkCon a{ display:inline-block; width:143px; font:12px/18px "微软雅黑"; color:#336666; padding:3px 0 3px 10px; background:url(../img/list01.png) no-repeat left 10px; }
.footerLinkCon a:hover{ color:#ff9900; background:url(../img/list01_on.png) no-repeat left 10px}

.page_footer .copyright{
    width:400px; height:40px; float:right; line-height:40px; color:#9a9a9a; margin-right:20px;
}



.bbs_nav{
    width:1000px; margin:20px auto; padding:6px 0px; height:26px; border-bottom:1px solid #CCC;
}
.bbs_nav .links01{
    float:left; position:relative;
}
.bbs_nav .slist{
    position:absolute; left:90px; top:26px; z-index:99; display:none; padding:6px;
    border:1px solid #ff9900; background-color:#fff;
}
.bbs_nav .slist li{
    border-bottom:thin dashed #ff9900; padding:0px 10px; width:100px;
}
.bbs_nav .links01 a,.bbs_nav .links01 span{
    display:inline-block; height:26px; line-height:26px; color:#666; font-size:13px; margin-right:10px;
}
.bbs_nav .links01 a:hover,.bbs_nav .links01 .cur{
    color:#ff9900;
}
.bbs_nav .index{
    padding-left:20px; background-image:url(../img/icon_home.jpg); background-position:left center; background-repeat:no-repeat;
}
.bbs_nav .links02{
    float:right; line-height:25px; vertical-align:middle;
}
.bbs_nav .links02 .cover{
    width:25px; height:25px; border-radius:20px; border:1px solid #ddd;
    vertical-align:middle; margin-right:6px;
}
.bbs_nav .links02 .name{
    vertical-align:middle; margin-right:16px;
}
.bbs_nav .links02 .add{
    display:inline-block;
    padding:0 6px;
    height: 25px;
    line-height: 25px;
    background-color: #ff8b3d;
    border: 1px solid #ff8b3d;
    text-align:center;
    color:#fff;
    vertical-align:middle;
}

.paging{height:50px; padding-top:15px; line-height:50px; text-align:left; overflow:hidden;} 
.paging a{padding:5px 10px; background:#f5f5f5; color:#6a6a6a; margin-right:5px; text-decoration:none;}
.paging a:hover,.paging a.checka{background:#ff9900; color:#fff;}

.bbs_title{
    height:20px; border:1px solid #ddd; padding:6px; overflow:hidden;
    background-image:url(../img/bbstitle.jpg); background-repeat:repeat-x;
}
.bbs_title b{
    height:20px; line-height:20px; font-size:16px; color:#333;
    border-left:4px solid #ff8b3d;
    padding-left:10px;
    float:left;
}
.bbs_title a{
    display:block; height:20px; line-height:20px; padding-right:10px; font-size:12px;
    float:right;
}
.bbs_list{
    border:1px solid #ddd; border-top:none; margin-bottom:20px;
}
.bbs_list .head {
    color:#999; height:22px; line-height:22px; color:#333; font-size:12px;
    background-color:#e8e8e8;
}
.bbs_list .head .c_title{
    text-align:center;
    display:inline-block; width:640px;
}
.bbs_list .head .c_arthur{
    display:inline-block; width:110px;
}
.bbs_list .head .c_read{
    display:inline-block; width:110px;
}
.bbs_list .head .c_date{
    display:inline-block; width:110px;
}

.bbs_list .list{

}
.bbs_list .list .item{
    border-bottom:1px solid #ffebcc;
}
.bbs_list .list .split{
    background-color:#fff5e6;
}
.bbs_list .list .last{
    border-bottom:none;
}
.bbs_list .list .c_title{
    display:inline-block; width:600px; height:20px; padding:5px 20px; overflow:hidden;
}
.bbs_list .list .c_arthur{
    display:inline-block; width:100px; height:20px; padding:5px; overflow:hidden;
}
.bbs_list .list .c_read{
    display:inline-block; width:100px; height:20px; padding:5px; overflow:hidden;
}
.bbs_list .list .c_date{
    display:inline-block; width:100px; height:20px; padding:5px; overflow:hidden;
}

.bbs01{
    width:650px; padding:20px 38px; border:1px solid #e6e6e6;
    margin-bottom:20px;
}
.bbs02{
    width:260px; padding:10px 0; border:1px solid #e6e6e6;
    margin-bottom:20px;
}

.bbs03{
    width:210px; padding:10px 0px; border:1px solid #e6e6e6;
    margin-bottom:20px; background-color:#f8f8f8;
}
.bbs04{
    width:740px; padding:10px; border:1px solid #e6e6e6;
    margin-bottom:20px;
}



.replylist_date{

}
.replylist_content{

}

#emcontainner{

}

.reply_bt{
    display:block;
    width: 150px;
    height: 30px;
    line-height: 30px;
    margin-top: 20px;
    background-color: #ff8b3d;
    border: 1px solid #ff8b3d;
    text-align:center;
    color:#fff;
}
.reply_bt:hover{
    color:#fff;
}


.pagetitle01{
    height:20px; padding:6px; border:1px solid #ddd; border-bottom:none;
    background-color:#eee;
}
.pagetitle01 b{
    height: 20px;
    line-height: 20px;
    font-size: 16px;
    color: #333;
    border-left: 4px solid #ff8b3d;
    padding-left: 10px;
}

.newtable{
    padding:20px 0;
}
.newtable .title01{
    height: 14px;
    line-height: 14px;
    padding: 5px 0;
    vertical-align: bottom;
    width: 540px;
    border: 1px solid #d5dadf;
}
.newtable .type01{
    width: 130px;
    height: 26px;
    border: 1px solid #d5dadf;
    vertical-align: middle;
    margin-left:10px;
}
.newbt{
    display:inline-block;
    width: 150px;
    height: 30px;
    line-height: 30px;
    margin-top: 20px;
    background-color: #ff8b3d;
    border: 1px solid #ff8b3d;
    text-align:center;
    color:#fff;
}
.newbt:hover{
    color:#fff;
}
.newbt_re{
    display:inline-block;
    width: 150px;
    height: 30px;
    line-height: 30px;
    margin-top: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    text-align:center;
    color:#999;
    margin-left:10px;
}

.aboutme{
    padding-top:30px;
}
.aboutme .cover{
    text-align:center;
}
.aboutme .cover img{
    width:100px; height:100px; border:3px solid #ffebcc; border-radius:100px; cursor:pointer;
}
.aboutme .name{
    text-align:center; color:#ff8b3d; font-size:16px;
}
.aboutme .txt{
    padding:3px 20px;
}
.aboutme .links{
    padding:3px 20px;
}
.aboutme .links .a1{
    display:inline-block;
    width: 80px;
    height: 28px;
    line-height: 28px;
    font-size: 12px;
    color:#fff;
    text-align:center;
    background-color: #ff8b3d;
    border: 1px solid #ff8b3d;
}
.aboutme .links .a2{
    display:inline-block;
    width: 80px;
    height: 28px;
    line-height: 28px;
    font-size: 12px;
    color: #fff;
    text-align:center;
    border-color: #4c8fe1;
    background-color: #4c8fe1;
    margin-left:6px;
}


.myarticlelist{

}
.myarticlelist .item{
    background-color:#fff;
    border-bottom:1px dashed #ffebcc;
    padding:6px;
}
.myarticlelist .item .date{
    display:inline-block; width:80px; vertical-align:top;
}
.myarticlelist .item .title01{
    display:inline-block; width:500px; vertical-align:top;
}
.myarticlelist .item .goto{
    display:inline-block; width:60px; vertical-align:top;
}

.myarticlelist .item .del{
    display:inline-block; width:60px; vertical-align:top;
}

.bbstable{
    width:100%; border:1px solid #ccc;
}
.bbstable_left{
    width:210px; vertical-align:top; background-color:#f8f8f8; border:1px solid #ccc;
}
.bbstable_right{
    padding:19px; vertical-align:top; border:1px solid #ccc;
}
.bbstable_form{
    padding:10px; vertical-align:top; border:1px solid #ccc;
}


.bbstitle{
    color:#ff8b3d; font-size:18px; text-align:center; line-height:36px; padding-bottom:10px;
}
.bbstxt{
    border-bottom:1px solid #e6e6e6; color:#999;
}
.bbstxt span{
    color:#333; margin-right:16px;
}
.bbscontent{
    padding:20px 0px;
}
.bbscontent img{
    max-width: 750px;  
    _width:expression(this.scrollWidth > 750 ? "750px" : "auto"); /* sets max-width for IE6 */ 
}
.bbsmore{
    border-top:1px solid #e6e6e6; color:#999; padding:10px 5px;
}
.bbsmore a{
    color:#ff8b3d;
}